<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container px-4 py-5">
    <% var classStr = "pb-2 border-bottom" %>
    <% if (locals.admin_view) classStr += " d-flex justify-content-between align-items-center" %>
    <div class="<%= classStr %>">
        <h1 class=""><%= course.name %></h1>
        <% if (locals.admin_view) { %>
            <button 
                type="button" 
                class="btn btn-lg btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#lesson-modal"
            >
                <i class="bi bi-plus"></i> Add Element
            </button> 
        <% } %>
    </div>
    <div 
        id="lesson-column" 
        class="row row-cols-1 row-cols-md-2 align-items-stretch g-4 py-5"
    >
        <% course.lessons.forEach(lesson => { %>
            <%- include('../lesson/card', {lesson: lesson})%>
        <% }) %>
        <% if (!course.lessons.length) { %>
            <div class="col" id="no-lesson-avalible">
                <h3>No lessons avalible.</h3>
            </div>
        <% } %>
    </div>
</div>

<% if (locals.admin_view) { %>
    <form enctype='multipart/form-data' method='post' id="lesson-form">
    <div 
        class="modal fade" 
        id="lesson-modal" 
        tabindex="-1"  
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="lesson-modal-title">New Lesson</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="lesson-name" class="form-label">Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="lesson-name" 
                        name="lesson_name" 
                        required
                    >
                </div>
                                    
                <div class="mb-3">
                    <label class="form-label" for="lesson-image">
                        Upload Background Image
                    </label>
                    <input 
                        type="file" 
                        class="form-control" 
                        id="lesson-image" 
                        name="lesson_image" 
                        accept="image/png, image/jpeg" 
                        required
                    >
                    <div class="form-text">
                        <small>
                            Upload Image for lesson card. 
                            Free Photos can be found on sites like unsplash.
                        </small>
                    </div>
                </div> 
                <div class="mb-3">
                    <label class="form-label" for="course_id">
                        Assigned Course
                    </label>
                    <select class="form-select" name="course_id" id="course_id">
                        <option value="<%= course.id %>" selected><%= course.name %></option>
                        <% courses.forEach(other_course => { %>
                            <option value="<%= other_course.id %>"><%= other_course.name %></option>
                        <% }); %>
                    </select>
                </div> 
            </div>
            <div class="modal-footer">
            <button 
                type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal" 
                id="close-lesson-form"
            >
                Close
            </button>
            <button 
                type="submit" 
                class="btn btn-primary" 
                id="submit-lesson"
            >
                Save
            </button>
            </div>
        </div>
        </div>
    </div>
    </form>
<% } %>

<% if (locals.admin_view) { %>
    <script src="/scripts/course/admin/lessons.js" defer></script>
<% } %>
<%- include('../partials/footer') %>