<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div id="lesson_container" class="mb-5" data-lesson-id="<%= lesson.id %>">
  <div class="position-absolute mx-5 px-5" style="z-index: 5;">
    <% if (lesson.course.enableLessons) { %>
      <a href="/courses/<%= lesson.course.id %>">
        <%= lesson.course.name %>
      </a>
      /<%= lesson.name %>
    <% } else { %>
      <%= lesson.course.name %>
    <% } %>
  </div>
  <div id="carouselControls" class="carousel slide w-100" data-bs-interval="-1">
      <div class="carousel-inner" id="slide-container">
        <% lesson.slides.forEach(slide => { %>
          <%- include('slide', { slide: slide }) %>
        <% }) %>
      </div>
      <button 
        class="carousel-control-prev"
        style="width: 10%;"  
        type="button" 
        data-bs-target="#carouselControls" 
        data-bs-slide="prev"
      >
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button 
        class="carousel-control-next" 
        style="width: 10%;" 
        type="button" 
        data-bs-target="#carouselControls" 
        data-bs-slide="next"
      >
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

<% if (locals.admin_view) { %>
  <div class="modal fade" id="modifySlideModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Modify Slide</h1>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="newSlideName" class="form-label">Slide Name</label>
            <input type="text" class="form-control" id="newSlideName" name="newSlideName"> 
          </div>
          <div class="mb-3">
            <label class="form-label" for="course_id">
                Assigned Course
            </label>
            <select class="form-select" name="course_id" id="course_id">
                <option value="<%= lesson.course.id %>" selected>
                  <%= lesson.course.name %>
                </option>
                <% courses.forEach(course => { %>
                    <% if (lesson.course.id != course.id && course.lessons.length) { %>
                      <option value="<%= course.id %>">
                        <%= course.name %>
                      </option>
                    <% } %>
                <% }); %>
            </select>
          </div>  
          <div class="mb-3">
            <label class="form-label" for="course_id">
                Assigned Lesson
            </label>
            <select class="form-select" name="lesson_id" id="lesson_id">
                <option value="<%= lesson.id %>" selected><%= lesson.name %></option>
                <% var parent_course = courses.find(course => course.id == lesson.course.id) %>
                <% parent_course.lessons.forEach(s_lesson => { %>
                    <% if (s_lesson.id != lesson.id) { %>
                      <option value="<%= s_lesson.id %>"><%= s_lesson.name %></option>
                    <% } %>
                <% }); %>
            </select> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="modifySlide">Save</button>
        </div>
      </div>
    </div>
  </div>
<% } %>


<% if (locals.admin_view) { %>
  <button 
    id="open-element-panel" class="d-none"
    data-bs-toggle="offcanvas" data-bs-target="#add-element-panel"
  ></button>
  <div 
    class="offcanvas offcanvas-end"
    style="width: fit-content !important; min-width: 25%;" 
    tabindex="-1" 
    id="add-element-panel" 
  >
    <div class="offcanvas-header">
        <h4 class="offcanvas-title m-2" id="add-element-panel-label">
          <span id="element-op-flag"><span id="element-operation">Add</span> Element</span>
        </h4>
        <button 
          id="close-element-panel"
          type="button" 
          class="btn-close me-1" 
          data-bs-dismiss="offcanvas"
        ></button>
    </div>
    <div class="offcanvas-body">
      <div class="row g-3 align-items-center">
        <div class="col-12 mt-0">
          <select class="form-select" id="component-form-selector">
            <option selected>Select Component</option>
            <% componentTypes.forEach(componentType => { %>
              <option value='<%=componentType.id %>'><%=componentType.name%></option>
            <% })%>
          </select>
          <script>
            document.getElementById("component-form-selector").selectedIndex = 0;
          </script>
        </div>
      </div>
      <% componentTypes.forEach(componentType => { %>
        <div 
          class="col-12 mt-3 component-form-container" 
          style="display: none;" 
          data-form-container="<%= componentType.id %>"
        >
        <%- include('component_form/base', {componentType: componentType }); %>
        </div>
      <% }); %>
    </div>
  </div>
<% } %>


<div 
  class="btn btn-primary position-fixed bottom-0 start-50 mb-4 translate-middle-x"
  style="z-index: 10;"
  data-bs-toggle="offcanvas"
  data-bs-target="#lesson-edit-side-panel"
>
  Slides
</div>

<div class="offcanvas offcanvas-bottom vh-100" tabindex="-1" id="lesson-edit-side-panel">
  <div class="offcanvas-header justify-content-center">
    <h4 class="offcanvas-title m-2 fs-1" id="lesson-edit-side-panel-label">
      Slides
    </h4>
    <button id="close-slide-offcanvas" type="button" class="btn-close  position-absolute top-0 end-0 p-5" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body small">
    <% if (locals.admin_view) { %>
      <div class="input-group my-2 px-5">
        <button 
          class="btn btn-outline-primary btn-lg" 
          type="button" 
          id="add-slide-btn"
        >
          Add New Slide
        </button>
        <input 
          type="text"  
          class="form-control form-control-lg" 
          placeholder="Slide Name..."
          id="new-slide-name"
        >
      </div>
    <% } %>
    <div 
      id="panel-slide-container" 
      class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-stretch g-4 p-5"
    >
      <% lesson.slides.forEach(slide => { %>
        <%- include('slide_mock', { slide: slide }) %>
      <% }) %>
    </div>
  </div>
</div>

<script src="/scripts/lesson/slide.js" defer></script>
<% if (locals.admin_view) { %> 
  <script src="/scripts/lesson/admin/component.js" defer></script>
  <script src="/scripts/lesson/admin/slide.js" defer></script>
  <script src="/scripts/lesson/admin/dragAndDrop.js" defer></script>
  <script src="/scripts/lesson/admin/multipleChoiceQuestion.js" defer></script>
<% } %>
<%- include('../partials/footer') %>