<% const uuid = Math.ceil(Math.random() * 2 ** 32)%>

<div class="pt-4">
    <input type="text" name="data" id="textcontainer-<%= uuid %>" style="display: none;">
    <div id="editor-<%= uuid %>" style="min-height: 30vh;"></div>
</div>


<script type="module">
    ;(() => {
        let quill = new Quill('#editor-<%= uuid %>', {
            modules: {
                toolbar: [
                    [
                        { 'font': [] },
                        { 'size': [] }
                    ],
                    [
                        { 'color': [] }, { 'background': [] },
                        'bold', 'italic', 'underline', 'strike',
                    ],
                    [
                        { 'align': [] },
                        { 'indent': '-1'}, 
                        { 'indent': '+1' }
                    ],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }, 'formula']
                ]
            },
            placeholder: 'Type prompt here...',
            theme: 'snow' 
        });

        // comments are just to hide linting errors
        // do NOT delete
        //<% if (locals.component){ %>
            let delta = JSON.parse(String.raw`<%- component.openEndedQuestion.prompt %>`);
            quill.setContents(delta);
        //<% } %>

        const container = document.getElementById("textcontainer-<%= uuid %>");
        container.value = JSON.stringify(quill.getContents());
        quill.on('text-change', (delta, oldDelta, source) => {
            container.value = JSON.stringify(quill.getContents());
        });
    })();
</script>

<label class="form-label mt-2 w-100">
    Response Height
</label>
<input 
    type="number" 
    class="form-control height-input"
    min="75"
    name="responseHeight"
    <% if (locals.component) { %>
        value="<%=component.openEndedQuestion.responseHeight%>"
        placeholder="<%=component.openEndedQuestion.responseHeight%>"
    <% } else { %>
        value="75" placeholder="75"
    <% } %>
>