<% const uuid = Math.ceil(Math.random() * 2 ** 32)%>

<div id="ref-msg-<%= uuid %>" class="w-100 mr-1" style="display: inline;"></div>
<script type="module">
    new Quill("#ref-msg-<%= uuid %>", {
        modules: {},
        readOnly: true
    }).setContents(
        JSON.parse(String.raw`<%- component.reference.message %>`)
    );
</script>
<% if (component.reference.lessonId) { %>
    <a href="/lessons/<%= component.reference.lessonId %>" class="position-absolute top-0 start-0 p-1">
<% } else { %>
    <a href="/courses/<%= component.reference.courseId %>" class="position-absolute top-0 start-0 p-1">
<% } %>
    <i class="bi bi-box-arrow-up-right" ></i>
</a>